{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<br>
<h1>Home Page</h1>
<br>
<main role="main">
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            <h1>Welcome!</h1>
            <p>Welcome to <b>The Code Blog!!</b>...Here we'll be talking about Programming. Basic Frameworks, computer languages, Machine Learning, Data Science stuff, any new tech information and more... </p>
            <p>Wnt more stuf like this.. Visit</p>
                <a href="https://morioh.com/courses" target="_blank">Surprize😎</a>
            <p>
                To checkout more stuff beyond just Blogs.. </p>
            <p>
                <a class="btn btn-primary" href="/posts" role="button">Go to Posts
                    &raquo;</a>
            </p>
        </div>
    </div>
</main>
{% endblock %}